<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="klp.chebada.com.animationdemo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ButtonActivity"
            android:label="@string/button_name">
        </activity>
        <activity android:name=".AnimationViewActivity"
                  android:label="@string/animation_view_name"/>
        <activity android:name=".SharedElementsActivity">
        </activity>
        <activity android:name=".SwipeRefreshActivity"
            android:label="@string/swipe_refresh_activity"/>
    </application>

</manifest>
